
.carousel-control-prev {
    /* left: -10px !important; */
    width: 80px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    text-align: center !important;
    height: 100% !important;
    margin-left: 10px;
    color: black !important;
  }
  
  .carousel-control-next {
    width: 80px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    text-align: center !important;
    height: 100% !important;
    margin-right: 10px !important;
  }
  .carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5% !important;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.1);
    backdrop-filter: blur(10px);
  }
  
  
  .carousel-item::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5% !important;
    height: 100%;
    background-color: rgba(6, 6, 6, 0.1);
    backdrop-filter: blur(10px);
  }
  